/* LISTS */
.list {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  list-style: none;
  table-layout: auto;
  width: 100%;
  max-width: 100%;
  padding: 10px 30px;
  margin: 0;
}
.list-row {
  display: table-row;
  line-height: 22px;
  font-size: 16px;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #cecece;
}
.list-row:hover {
  background: #F4F7FC;
}
.list-row-column {
  display: table-cell;
  text-align: right;
  padding: 10px 0;
}
.list-row-column:first-child {
  text-align: left;
}

.list-row-column-actions {
  text-align: right;
}

.list-row-column-actions .button {
  margin-left: 5px;
}
